<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>First Component</title>
  <link rel="stylesheet" href="first-component.css">
  <script
    crossorigin
    src="https://unpkg.com/react@16/umd/react.development.js">
  </script>
  <script
   crossorigin
    src="https://unpkg.com/react-dom@16/umd/react-dom.development.js">
  </script>
  <script
    src="https://unpkg.com/babel-standalone@6/babel.min.js">
  </script>
</head>
<body>
  <div id="app"></div>
  <script type="text/babel">
    class HobbyList extends React.Component {
      render() {
        const hobbies = ['Eating', 'Sleeping', 'Being Annoying'];
        const liStyle = {fontSize: '1.5em'};
        return (
          <ul>
            {hobbies.map((h, i) => {
              return <li key={i} style={liStyle}>{h}</li>
            })}
          </ul>
        )
      }
    }
    class Pet extends React.Component {
      render() {
        return (
          <div className="card">
            <h2 className="name">Moxie</h2>
            <img src="https://github.com/tigarcia/Moxie/raw/master/moxie.png"
                 alt="moxie the cat" />
            <h5 style={{fontSize: '2em', margin: '2px'}}>Hobbies</h5>
            <HobbyList />
          </div>);
      }
    }

    ReactDOM.render(<Pet />, document.getElementById("app"));
  </script>
</body>
</html>