#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.name {
  font-size: 3em;
  margin: .25em;
}
.card {
  font-family:  Helvetica, Arial, sans-serif;
  background-color: #c1bcb6;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid #005365;
  color: #005365;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 300px;
  padding: 4px 20px 10px 20px;
}
