.recipe-card {
  width: 31%;
  min-width: 240px;
  margin: 1%;
  border: 1px solid rgba(160,160,160,0.2);
  background: white;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.recipe-card-content {
  padding: 16px;
}

.recipe-card-img {
  overflow: hidden;
  height: 50%;
}

.recipe-card img {
  width: 100%;
  max-height: 250px;
}

.recipe-card-title {
  margin: 0;
}